@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Roboto")
}

body {
    font-family: "Roboto";
    background-color: gainsboro;
}

fieldset {
    border-radius: 25px;
}

#loginBox{
    margin-top: -50px;
    margin-left: -25px;
    border: solid 2px;
    padding: 10px;
    border-radius: 10px;
}

#gameLibrary {
    margin-top: 25px;
    padding: 10px;
    background-color: #bbb;
    border-radius: 10px;
}

#gameLibrary li{
    list-style: none;
}

#gameLibrary a{
    color: #444;
}

#menu{
    padding: 10px;
    background-color: grey;
    margin: 0;
    width: 100%;
    list-style: none;
    margin-left: -10px
}

#menu li{
    display: inline;
    padding-left: 10px 
}

#menu a{
    color: lightgray
}

#menu a visited{
    color: black
}

.uname {
    margin-bottom: 10px;
    font-size: 30px
}

.pw {
    font-size: 30px
}

.centering{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
}

.searchbar {
    float: right;
    margin-right: 10px
}

.slideshow {
    left: 50%;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}


.button {
  cursor:pointer;
  height:20px;
  width: 20px;
  margin: 4 20px;
  background-color: #bbb;
  display: inline-block;
}

.slideshowPicture {
    margin: 20px;
    height: 500px;
    width: 500px;
}

.gameForm{
    margin-left: -100px;
    margin-top: -150px;
}

legend{
    font-size: 20px
}
.gameName{
    margin-top: 5px;
    margin-bottom: 20px;
}

.gameDescription{
    margin-bottom: 20px;
}

.gameScreenshots{
    margin-bottom: 20px;
}

.gameProper{
    margin-bottom: 20px;
}
